body{
    background-color: #f3effa;
    overflow: hidden;
    margin: 0;
}

section{
    height: 100vh;
}



#imgcontainer
{
    height: 90%;
    margin: auto;
    position: relative;

}

svg{
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}

div#momo, div.footer
{
    background-color: blue;
    color: white;
    text-align: center;
    font-size: small;
    font-family: "glacial_indifferenceregular", sans-serif;
    z-index: 10000;
}

div#momo
{
    position: absolute;
    right: 30%;
    bottom: 3em;
}

span#momo
{
    text-decoration: underline;
}

.hidden
{
    display: none;
}

div.footer
{
    position: absolute;
    width: 100%;
    bottom: 0%;
    left: 0%;
}

p.footer
{
    color: white;
    text-align: center;
    font-size: small;
    margin: 0.3em;
    font-family: "glacial_indifferenceregular", sans-serif;
}

h1.title
{
    text-align: center;
}

h1
{
    font-family: "glacial_indifferenceregular", sans-serif;
}

text#portfolio,text#about,text#contact
{
    cursor: pointer;
}

/* making the divs on torso move out on hover */
#torso-movable, #torso-movable-w, #facemovable, #facemovable2, #movablephone
{
    transition: 1.3s;
    
}

#torso-movable.notanimated
{
    animation: tease 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#torso-movable-w.notanimated
{
    animation: tease2 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#facemovable.notanimated
{
    animation: tease3 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


#facemovable2.notanimated{
    animation: tease4 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#movablephone.notanimated
{
    animation: tease5 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#phone
{
    /* animation: phonevibrate 3s;
    animation-iteration-count: infinite; */
}

.goleft
{
    transform: translateX(-70%);
}

.goright
{
    transform: translateX(70%);
}

.goleft2
{
    transform: translateX(-10%);
}

.goright2
{
    transform: translateX(10%);
}

.godown
{
    transform: translate(-2%,6%)
}

/* background of animated bit */
.cls-7
{
    background-color: blueviolet;
}

circle
{
    transition: 0.4s;
}

circle:hover{
    transform: scale(1.15);
}

/* teasers reveal a bit of purple behind the clickables/hoverables */
@keyframes tease
{
    from
    {
        
    }
    to
    {
        transform: translateX(-5%)
    }
}

@keyframes tease2
{
    from
    {
        
    }
    to
    {
        transform: translateX(5%)
    }
}

/* face teaser */

@keyframes tease3
{
    from
    {
        
    }
    to
    {
        transform: translateX(-1%)
    }
}

@keyframes tease4
{
    from
    {
        
    }
    to
    {
        transform: translateX(1%)
    }
}

/* phone teaser */
@keyframes tease5
{
    from
    {
        
    }
    to
    {
        transform: translate(-0.3%,1%)
    }
}

/* actual content */


.contentwrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.sectiontitle
{
    color: white;
    text-align: left;
}

.content{
    position: relative;
    color: white;
    background-color: rgba(29, 10, 47, 0.9);
    padding: 1.5em;
    padding-top: 0;
    max-height: 85%;
    overflow-y: auto;
}

@media screen and (max-width: 600px)
{
    .content{
        max-width: 850px;
    }
}

@media screen and (min-width: 601px)
{
    .content{
        max-width: 85%;
    }
}

p,ul,h2,span
{
    font-family: "glacial_indifferenceregular";
}

ul{
    list-style-type: none;
}

.overlay
{
    position: absolute;
    left:0%;
    top:0%;
    height: 100vh;
    width: 100vw;
}

.close
{
    background-color: blueviolet;
    padding: 0.5em;
    position: fixed;
    right: 1.5em;
    top: 0;
    cursor: pointer;
    z-index: 10001;
}

ul#contact
{
    padding: 0;
}

a
{
    color: inherit;
}

u
{
    position: relative;
}

.over
{
    position: absolute;
    bottom: -100%;
    right: -16.3em;
    width: 15em;
    z-index: 9999;
    padding: 0.3em;
    padding-bottom: 1em;
    background-color: white;
}

img
{
    width:100%;
}

#portfolio
{
    padding: 0;
}

.project
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60vh;
    padding: 1.3em;
    margin-left: -1.5em;
    margin-right: -1.5em;
    background-position: center;
    background-size: cover;
}

.links
{
    display: flex;
    width: 30%;
    justify-content: space-between;
}

/* background images */

#tie
{
    background-image: url("projectfiles/tie.png");
}

#crown
{
    background-image: url("projectfiles/crown.png");
}

#dinner
{
    background-image: url("projectfiles/cat.png");
}

#mff
{
    background-image: url("projectfiles/30mff.png");
}

#potsch
{
    background-image: url("projectfiles/game.png");
}

#workmate
{
    background-image: url("projectfiles/workmate.png");
}

#rlac
{
    background-image: url("projectfiles/rlac.png");
}

#sswb
{
    background-image: url("projectfiles/sswb.png");
}

#vv
{
    background-image: url("projectfiles/vv.png");
}

#kne
{
    background-image: url("projectfiles/kne.png");
}

#car
{
    background-image: url("projectfiles/car.png");
}


/* responsible for the black filter that makes text readable in the portfolio */
.project::after
{
    content:"";
    background-color: black;
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}

.above
{
    z-index: 9999;
    position: relative;
    text-align: center;
    margin: 2em 2em;
}

.deactivated
{
    color: gray;
}

.clicky
{
    cursor: pointer;
}