body {
    background-color:   #050e39;
    color: #ffffff;
    font-family: 'Glacial Indifference', sans-serif;
    margin: 2em;
    padding: 0;
    overflow: hidden;
}
.centered {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1em;
}

.highlight {
    color: lightblue;
}

.highlight:hover {
    color: yellow;
}

.highlight:active {
    color: yellow;
}

.big_title {
    font-size: 2em;
    line-height: 1.15;
}

/* Jitter movement classes for SVG groups */
.moved-up {
    transform: translateY(-0.3em);
    transition: transform 1s ease-in-out;
}

.moved-down {
    transform: translateY(0.3em);
    transition: transform 1s ease-in-out;
}
