body {
    background-color:   #050e39;
    color: #ffffff;
    font-family: 'Glacial Indifference', sans-serif;
    margin: 0;
    padding: 0;
}
.centered {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.highlight {
    color: lightblue;
}

.highlight:hover {
    color: yellow;
}

.highlight:active {
    color: yellow;
}

.big_title {
    font-size: 32px;
    line-height: 1.15;
}

